body {
    color: black;
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background-color: black;
}
::-webkit-scrollbar-thumb {
    background: #009adc;
  }

ul, li {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    width: 100%;
}
#navigation {
    position: fixed;
    transition: .2s ease-in-out;
}
.pack {
    width: 100%;
    margin: auto;
}
.arrow-return {
    background: transparent;
    position: absolute;
    left: 25px;
    top: 10vh;
    width: 10%;
}
.fa-arrow-left {
    cursor: pointer;
    color: white;
    transition: 1.5s linear;
}
.arrow-return:hover {
    transition: 1.2s linear;
    cursor: pointer;
    animation: before 1.5s ease-in-out infinite;
}
/* 01 Qui suis-je ? */


.first-about {
    display: grid;
    margin-top: 5%;
    height: 90vh;
    grid-template-columns: 5% 5% 10% 20% 10% 35% 5%;
    grid-template-rows: 15% 5% 40% 35% 5%;
}
.flat {
    grid-area: 1 / 1 / 1 / 1;
    width: 50px;
    height: 5px;
    background-color: #000000;
    margin: auto 0;
    text-align: left;
}
.heading-num {
    grid-area: 1 / 3 / 1 / 3;
    font-size: 4rem;
    color: #009adc;
    margin: auto;
}
.how {
    grid-area: 1 / 4 / 1 / 4;
    margin: auto;
    font-size: 1.8rem;
}
.gras {
    grid-area: 1 / 6 / 1 / 6;
    margin: auto 0;
}
.gras h1 {
    font-size: 3rem;
}
.para-01 {
    grid-area: 3 / 6 / 3 / 6;
}
.img-para-01 {
    grid-area: 4 / 6 / 4 / 6;
    width: 100%;
    height: 100%;
    background: orchid;
    box-shadow: -7px 25px 65px -7px rgba(0,0,0,0.6);
}

/* 02 Passions */

.second-about {
    height: 90vh;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 5% 5% 10% 20% 10% 35% 5%;
    grid-template-rows: 15% 85%;
}
.passions {
    grid-area: 2 / 3 / 2 / 8;
    height: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.passion {
    margin-top: 50px;
    height: 100%;
    width: 30%;
}
.img-passion {
    height: 30%;
    width: 90%;
    margin: auto;
    background: white;
}
.img-passion {
    background: url(../IMG/voyage.png) no-repeat;
    background-size: 100%;
    width: 120px;
    height: 120px;
}
.code {
    background: url(../IMG/dev.png) no-repeat;
    background-size: 100%;
    border-radius: 15px;
}
.music {
    background: url(../IMG/music.png) no-repeat;
    background-size: 100%;
    border-radius: 15px;

}
.title-passion {
    text-align: center;
    font-size: 1.2rem;
    font-style: bold;
}
.text-passion {
    height: 70%;
    width: 100%;
    margin-top: 15px;
    text-shadow: -5px 5px 5px rgba(0,0,0,0.5);
    text-align: center;
}

/* skills */

.third-about {
    display: grid;
    grid-template-columns: 5% 5% 10% 20% 10% 35% 5%;
    grid-template-rows: 15% 85%;
}
.skills-list {
    margin-left: 30px;
    margin-bottom: 50px;
    grid-area: 2 / 2 / 3 / 8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.skill-column {
    width: 45%;
}
.details {
    width: 85.1063%;
}
.skills-items {
    margin-top: 2.4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.logo-skill {
    -ms-flex-item-align: center;
    align-self: center;
}
.logo-skill img {
    height: 50px;
    vertical-align: bottom;
    width: unset;
    max-width: 60px;
}
.title-skill {
    margin-bottom: 0.8rem;
}
.titles-progress {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15px;
}
.time-skill {
    color: rgba(0,0,0,0.6);
}
.barres, .barre {
    background: rgba(0,0,0,0.1);
    box-shadow: inset -8px 5px 25px rgba(255,255,255,0.5);
    border-radius: 5px 20px 20px 5px;
}
.progress-bar {
    background-image: linear-gradient(to right, #361ce3, #2a36e9, #2048ee, #1c58f1, #2266f3, #2672f5, #2f7cf5, #3c87f5, #4892f4, #569cf3, #66a6f1, #77b0ee);
    max-width: 100%;
    transition: all 2s ease-in-out;
    border-radius: 5px 20px 20px 5px;
    margin: 0;
}
.valor-progress {
    color: white;
    text-align: center;
    font-size: 1.5em;
}

@keyframes before {
    from {
        left: 24px;
    }
    25% {
        left: 15px;
    }
    to {
        left: 35px;
    }
    to {
        left: 25px;
    }
}