* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Alata;
    list-style-type: none;
}
.purple-text {
    color: #7451eb !important;
}


body {
    background: black;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 5rem;
}
h4 {
    font-size: 2rem;
}

/* Navigation */
#navigation {
    width: 100%;
    position: absolute;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9000;
}
#navigation a {
    color: #ffffff;
    margin-left: 25px;
}
.three{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}
.hamburger .line{
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px 25px 0 0;
    transition: all .3s ease-in-out;
}
.line:nth-child(2) {
    margin-top: 10px;
}
.hamburger:hover{
    cursor: pointer;
}
#hamburger-3.is-active .line{
  width: 30px;
}
#hamburger-3.is-active .line:nth-child(1){
  -webkit-transform: translateX(-10px) rotate(-45deg);
  -ms-transform: translateX(-10px) rotate(-45deg);
  -o-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-22.5deg);
}
#hamburger-3.is-active .line:nth-child(2){
  -webkit-transform: translateX(-10px) rotate(45deg);
  -ms-transform: translateX(-10px) rotate(45deg);
  -o-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(22.5deg);
}


.fullpage-slide {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #fff;
}

/* Première page */
.s1 {
    background: black;
    z-index: 5;
}
.title {
    color: #fff;
    overflow: hidden;
    z-index: 200;
    padding: 50px 0;
    text-align: center;
}
.title-s1 h4 {
    color: gray;
}
.bessa{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bessa p {
    font-size: 5rem;
    cursor: pointer;
    transition: .2s ease-in;
}
.bessa p:hover {
    transform: scale(1.2);
    margin: auto 10px;
    color: red;
}
.bessa p:nth-child(6) {
    margin-left: 20px;
}
.s1-buttons {
    text-align: center;
    margin-top: 25px;
}
.btn {
    font-size: 1.5em;
    margin: 10px 15px;
    padding: 2px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: .3s linear;
    color: black;
    box-shadow: 0px 5px 2px 2px rgba(0,0,0,0.6);
}
.btn-cv {
    color: #ffffff;
    background: red;
    box-shadow: 0px 5px 2px 2px rgba(0,0,0,0.6);
}
.btn:hover {
    background-color: grey;
    transition: .3s linear;
}
.btn-cv:hover {
    background-color: #fff;
    color: black;

}

nav {
    z-index: 9999;
}

/* Portfolio */

.s2 {
    animation: zoomin 10s linear infinite;
    transition: all .2s linear;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
    background: url(../IMG/Bg_1.jpg) no-repeat;
    background-size: cover;
}
.title-s2 {
    letter-spacing: 0.2em;
}
.s2-button {
    text-align: center;
    margin: 0;
}
.btn-portfolio {
    margin: 0;
    cursor: not-allowed;
}
.btn-portfolio:hover {
    transition: .3s;
    transform: translate(-15%, -15%);
}






/* About me */

.content-s3 {
    width: 100%;
    height: 100vh;
    display: grid !important;
    grid-template-rows: 10% 10% 5% 60% 10% 5% ;
    grid-template-columns: 5% 41% 3% 41% 10% ;
    background-color: #333;
    background: black;
    background-size: cover;
    z-index: 5;
}
.title-s3 {
    margin: auto;
    padding: 5px;
    grid-area: 2 / 2 / 2 / 2;
    padding: 0;
}
.title-s3 h1 {
    font-size: 4rem;
    padding: 5px;
}
.img-aboutme{
    background: url(../IMG/portfolio.jpeg) no-repeat;
    background-size: cover;
    grid-area: 4 / 4 / 4 / 4;
    border-radius: 15px 2px 15px 2px;
    border: 2px solid white;
}
.presentation-aboutme {
    width: 90%;
    margin: 0 auto;
    font-size: 1.2em ;
    color: white;
    text-align: center;
    grid-area: 4 / 2 / 4 / 2;
}
.btn-aboutme {
    grid-area: 5 / 4 / 5 / 4;
    text-align: center;
    margin: auto;
}



/* Contact */
.s4 {
    background-image: linear-gradient(to top, #90dbeb, #78ccdf, #5fbcd2, #43adc7, #199ebb);;
    z-index: 5;
}
.s4-content {
    width: 100%;
    height: 100%;
    display: flex;
}
.s4 h2 {
    text-align: center;
    font-size: 2rem;   
    margin: auto;
    padding-bottom: 10px;
    width: 250px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}
.s4 p:before {
    content: attr(name);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}
.title-s4 {
    margin: inherit;
    padding: 0;
}

.contact-form {
    width: 50%;
    height: 450px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
}

input {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    transition: .5s ease-in-out;
    background: none;
}
input:focus {
    transition: .5s ease-in-out;
    border-bottom-color: #009adc;
}

.btn-contact {
    float: left;
    padding: 10px 20px;
    margin: 30px 0 0;
    font-family: 'Montserrat',sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .5s;
}
.contact-footer {
    text-align: center;
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
.btn-contact:hover, .btn-contact:focus {
    box-shadow: inset 7.5em 0 0 0 #66c887;
    border-color: #787878;
}
.offset {
    box-shadow: 0.3em 0.3em 0 0 #8fc866, inset 0.4em 0.8em 0 0 #8fc866;
}
.offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 #66c887, inset 6em 3.5em 0 0 #66c887;
}
button {
    color: #66c887;
}
button:hover, button:focus {
    border-color: #66c887;
    color: #fff;
}
/* Animations */

/* Tablette */
@media screen and (max-width:768px) {
    /* first */
    .bessa p {
        font-size: 2.5rem;
    }
    /* second */

    /* third */
    .title-s3 {
        grid-area: 2 / 2 / 2 / 5;
    }
    .title-s3 h1 {
        font-size: 2em;
    }
    .img-aboutme {
        display: none;
    }
    .presentation-aboutme {
        font-size: 20px;
        grid-area: 4 / 2 / 4 / 5;
    }
    .btn-aboutme {
        grid-area: 5 / 2 / 5 / 5;
    }

    /* fourth */

    .contact-footer {
        width: 245px;
    }
}
/* Version Mobile */
@media screen and (min-width:320px) and (max-width:425px) {
    
    /*First */
    .title-s1 h1 {
        font-size: 3rem;
    }
    .title-s1 h4 {
        font-size: 1.5rem;
    }
    
    /* Second */
    .title-s2 h2 {
        font-size: 3rem;
    }

    /* Third */
    .content-s3 {
        grid-template-columns: 10% 38% 5% 37% 10%;
    }
    .presentation-aboutme {
        font-size: 16px;
    }
    
    /* Fourth */
    .contact-form {
        width: inherit;
    }
    .contact-footer {
        right: -10px;
    }
}