* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Alata;
    list-style-type: none;
}
body {
    overflow-x: hidden;
}

/*=====================
    Scrollbar CONFIG
======================*/

::-webkit-scrollbar {
    width: 10px;
  }
::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background: #009adc;
}


.purple-text {
    color: #7451eb !important;
}


body {
    background: black;
    overflow: hidden;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 5rem;
}
h4 {
    font-size: 2rem;
}

#loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    visibility: visible;
    opacity: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    z-index: 9999;
    transition: .3s ease-in-out;
    scrollbar-width: none;
}
.loaded {
    visibility: hidden !important ;
    opacity: 0 !important;
    transition: 5s ease-in-out;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #999;
    width: 100px;
    height: 30px;
    margin: -16px 0 0 -96px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
  }
  
  #loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 300px;
    margin: -140px 0 0 -136px;
    border: 10px solid #009adc;
  }
  
  #loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
  }
  
  #loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #5fbcd2;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
  }
  
  #loading-content {
    border: 10px solid transparent;
    border-top-color: #65FBD2;
    border-bottom-color: #65FBD2;
    border-radius: 50%;
    -webkit-animation: loader 5s linear infinite;
    -moz-animation: loader 5s linear infinite;
    -o-animation: loader 5s linear infinite;
    animation: loader 5s linear infinite;
  }
  
  #loading-content:before {
    border: 8px solid transparent;
    border-top-color: #009adc;
    border-bottom-color: #009adc;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
  }
  
  #loading-content:after {
    border: 6px solid transparent;
    border-top-color: #FF00FF;
    border-bottom-color: #FF00FF;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
      -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
  }
  
  @keyframes loaders {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  #content-wrapper {
    color: #FFF;
    position: fixed;
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
  }
  
  #header
  {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    height: 100px;
    background-color: #666;
  }
  
  #content
  {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #888;
  }




/* Navigation */
#navigation {
    width: 100%;
    position: absolute;
    margin: 15px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 9000;
}
#navigation a {
    color: #ffffff;
    margin-left: 25px;
}
.three{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
}
.hamburger .line{
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 5px 25px 0 0;
    transition: all .3s ease-in-out;
}
.line:nth-child(2) {
    margin-top: 10px;
}
.hamburger:hover{
    cursor: pointer;
}
#hamburger-3.is-active .line{
  width: 30px;
}
#hamburger-3.is-active .line:nth-child(1){
  -webkit-transform: translateX(-10px) rotate(-45deg);
  -ms-transform: translateX(-10px) rotate(-45deg);
  -o-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-22.5deg);
}
#hamburger-3.is-active .line:nth-child(2){
  -webkit-transform: translateX(-10px) rotate(45deg);
  -ms-transform: translateX(-10px) rotate(45deg);
  -o-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(22.5deg);
}


.fullpage-slide {
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    color: #fff;
}

/* Première page */

.s1 {
    z-index: 5;
}
.title {
    color: #fff;
    overflow: hidden;
    z-index: 200;
    padding: 50px 0;
    text-align: center;
}
.title-s1 h4 {
    color: gray;
}
.bessa{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.bessa p {
    font-size: 5rem;
    cursor: pointer;
    transition: .2s ease-in;
}
.bessa p:hover {
    animation: float 2s ease-in-out infinite;
    color: red;
}
.bessa p:nth-child(6) {
    margin-left: 20px;
}
.bessa p:nth-child(odd) {
    animation: float 3s infinite ease-in-out;
}
.bessa p:nth-child(2n+2) {
    animation: float 3s infinite ease-in-out;
    animation-delay: 0.5s;
}
.s1-buttons {
    text-align: center;
    margin-top: 25px;
}
.btn {
    font-size: 1.5em;
    margin: 10px 15px;
    padding: 2px 15px;
    border-radius: 5px;
    background-color: #ffffff;
    transition: .3s linear;
    color: black;
}
.btn-cv {
    color: #ffffff;
    background: red;
    animation: oversize 12s ease-in-out infinite;
}
.btn:hover {
    background-color: grey;
    transition: .3s linear;
}
.btn-cv:hover {
    background-color: #fff;
    color: black;

}

nav {
    z-index: 9999;
}

/* Portfolio */

.s2 {
    animation: zoomin 10s linear infinite;
    transition: all .2s linear;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 auto;
}
.title-s2 {
    letter-spacing: 0.2em;
}
.s2-button {
    text-align: center;
    margin: 0;
}
.btn-portfolio {
    margin: 0;
    cursor: not-allowed;
}
.btn-portfolio:hover {
    transition: .3s;
    transform: translate(-15%, -15%);
}






/* About me */

.content-s3 {
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: space-around;
    z-index: 5;
}
.title-s3 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto 0;
    z-index: 15;
}
.title-s3 h1 {
    font-size: 4rem;
    padding: 5px;
}

.right-s3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-aboutme{
    background: url(../IMG/About-me/me.jpg) no-repeat;
    background-size: cover;
    border: 2px solid white;
    height: 400px;
    width: 400px;
    border-radius: 50% 25% 50% 25% / 25% 50% 25% 50%;
    animation: rotation 15s infinite linear;
}
.presentation-aboutme {
    width: 90%;
    margin: 20px auto;
    font-size: 1.2em ;
    color: white;
    text-align: center;
}
.btn-aboutme {
    text-align: center;
    margin: 20px auto;
}



/* Contact */
.s4 {
    background-image: linear-gradient(to top, #90dbeb, #78ccdf, #5fbcd2, #43adc7, #199ebb);;
    z-index: 5;
}
.s4-content {
    width: 100%;
    height: 100%;
    display: flex;
}
.s4 h2 {
    text-align: center;
    font-size: 2rem;   
    margin: auto;
    padding-bottom: 10px;
    width: 250px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}
.s4 p:before {
    content: attr(name);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: #5a5a5a;
}
.title-s4 {
    margin: inherit;
    padding: 0;
}

.contact-form {
    width: 50%;
    height: 450px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
    position: relative;
}

input {
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat',sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
    transition: .5s ease-in-out;
    background: none;
}
input:focus {
    transition: .5s ease-in-out;
    border-bottom-color: #009adc;
}

.btn-contact {
    float: left;
    padding: 10px 20px;
    margin: 30px 0 0;
    font-family: 'Montserrat',sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .5s;
}
.contact-footer {
    text-align: center;
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
.btn-contact:hover, .btn-contact:focus {
    box-shadow: inset 7.5em 0 0 0 #66c887;
    border-color: #787878;
}
.offset {
    box-shadow: 0.3em 0.3em 0 0 #8fc866, inset 0.4em 0.8em 0 0 #8fc866;
}
.offset:hover, .offset:focus {
    box-shadow: 0 0 0 0 #66c887, inset 6em 3.5em 0 0 #66c887;
}
button {
    color: #66c887;
}
button:hover, button:focus {
    border-color: #66c887;
    color: #fff;
}




canvas{ 
    display: block; 
} /* ---- particles.js container ---- */ 
#particles-js{ 
    position:fixed;
    width: 100%;
    height: 100%;
}

/* Animations */

@keyframes rotation {
    from {
        transform: rotate(0)
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(-8deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}


@keyframes oversize {
    0%, 74% {
        padding: 2px 15px;
    }
    75%, 76% {
        padding: 2px 25px;
    }
    77%, 78% {
        padding: 10px 15px;
    }
    78%{
        padding: 2px 15px;
    }
    86%, 100% {
        padding: 2px 15px;
    }
}

/* Tablette */
@media screen and (max-width:768px) {
    /* first */
    .bessa p {
        font-size: 2.5rem;
    }
    /* second */

    /* third */
    .content-s3 {
        flex-direction: column;
        justify-content: center;
    }
    .title-s3 {
        margin: 0 auto;
        width: 85%;
    }
    .title-s3 h1 {
        font-size: 2em;
    }
    .right-s3 {
        width: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        margin: 50px auto;
    }
    .img-aboutme {
        display: none;
    }
    .presentation-aboutme {
        font-size: 20px;
    }
    .btn-aboutme {
        margin: 0 auto;
        width: 40%;
        font-size: 1rem;
        padding: 15px;
    }

    /* fourth */

    .contact-footer {
        width: 245px;
    }
}
/* Version Mobile */
@media screen and (min-width:320px) and (max-width:425px) {
    
    /*First */
    .title-s1 h1 {
        font-size: 3rem;
    }
    .title-s1 h4 {
        font-size: 1.5rem;
    }
    
    /* Second */
    .title-s2 h2 {
        font-size: 3rem;
    }

    /* Third */
    .content-s3 {
        grid-template-columns: 10% 38% 5% 37% 10%;
    }
    .presentation-aboutme {
        font-size: 16px;
    }
    
    /* Fourth */
    .contact-form {
        width: inherit;
    }
    .contact-footer {
        right: -10px;
    }
}