body {
    line-height: 1.6;
    font-weight: 400;
    width: 100vw;
    background: #FFF;
    overflow-x:hidden !important;
    z-index: 1;
}
/*TYPOGRAPHIE*/
.purple {
    color: purple;
}
.interdit {
    cursor: not-allowed;
}
.zoomed {
    cursor: pointer;
    transition: .3s ease-in-out;
}
.zoomed:hover {
    transition: .3s ease-in-out;
}

/*================== HEADER ====================================*/

#presentation-portfolio {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation-txt {
  font-size: 2rem;
  color: #FFF;
}

.typed-slash {
  height: 3rem;
  width: 3px;
  background: #FFF;
  margin-left: 5px;
  animation: typing-slash 1.1s step-end infinite;
}

#clock {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}


#actual_time {
  margin: auto;
  font-size: 4rem;
  color: #FFF;
}
#dot_clock {
  animation: clock 1s linear infinite;
  margin: auto;
  align-items: center;
}


#tooltip {
  display: none;
}


#weather {

  height: 100vh;
  width: 100%;
  display: flex;
}

#weather h1, #weather h2 {
  margin: auto;
  color: #FFF;
}

.clear {
  background-color: #009adc ;
}
.degage {
  background: Pink !important;
}
.fr {
  background: pink;
  width: 100%;
  height: 10vh;
}






.intro-block {
  padding-top: 150px;
  width: 100vw;
  height: 90vh;
}
.cards-list {
  padding: 15px 30px;
  margin: auto;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
}
.cards-unity {
  margin: auto;
  width: 30%;
  padding: 15px 0;
}
.bg__card {
  background: #009adc;
  height: auto;
}
.card {
  overflow: hidden;
  width: 100%;
  height: 350px;
  background-color: #FFF;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(.05,.91,.43,.92);
  cursor: pointer;
}
.card:hover {
  transform: translate(15px, -15px);
  -webkit-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.43);
  -moz-box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.43);
  box-shadow: 10px 10px 36px 0px rgba(0,0,0,0.43);
}


.card-img {
  width: 100%;
  height: 80%;
  background: url(../IMG/P1.png) no-repeat;
  background-size: 100%;
}
.desc-card {
  width: 100%;
  height: 20%;
  margin: auto;
}
.desc-card p {
  margin-left: 20px;
}
.tags {
  font-size: 1rem;
  color: #bec9ce;
}
.card-title {
  font-size: 1.5rem;
}

#world {
  width: 40%;
  height: 50%;
  border-radius: 50%;
  background-color: lightcoral;
}


/*============== ANIMATION =========================*/

@keyframes typing-slash {
  from, to { opacity: 0; }
  50% { opacity: 1; }
}
@keyframes clock {
  from { opacity: 1; }
  to { opacity: 0; }
}